* {
  font-family: "Helvatica";
}

p {
  font-size: large;
}

.navbar{
  padding: 0.5rem 1rem;
}

.nav-item h5{
  margin-bottom: 0rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.title{
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.d-block{
  object-fit: cover;
}

.text-black{
  color:black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px)
{.text-md-start {
  text-align: center!important;
}}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #000 !important;
  border-radius: 5px;
  border: solid #000 1px;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
}


#container2{
  width: 95vw;
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
  padding-top: .5rem;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  transition: transform 500ms ease-in-out;
  transform: translateY(0rem);
  transform: translateY(-24px);
  background-color: #e3e3e3;
  font-size: large;
}

.headerabout {
  color: #c60021;
  font-family: "Helvatica";
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  background-color: #f6f6f8;
  padding: 15px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  /* padding: 0 0; */
  margin-bottom: 0.2rem;
  list-style: none;
  font-size: large;
}


#Header {
  background-color: rgba(28, 35, 49, 0.5);
  margin: auto;
}

#smallheader {
  font-weight: bold;
  font-size: 1.4em;
}

.col-12 {
  margin: auto;
  padding-top:25px;
}

#containerbackground {
  background-color: #e3e3e3;
  padding: 0%;
}

.header{
  margin: auto;
  border-bottom:6px solid #c60021;
  display: inline-block;
  font-weight: bold;
  text-align: left;
  padding-right: 20px;
  padding-bottom: -10px;
}

.iframe-rwd  {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe-rwd iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form {
	max-width: 400px;
	margin: 10px auto;
	padding: 0.5rem 1rem;
}

form h1 {
	padding: 5px 0;
	font-size: 1.4rem;
	font-weight: normal;
	text-align: center;
	color: #111;
}

.field {
	margin-bottom: 0.75rem;
}

.field small {
	color: #dc3545;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: top;
	width: 100%;
}

/* input, textarea */
input,
textarea,
select {
	border: solid 1px #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 0.5rem 0.75rem;
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
}

input::placeholder {
	color: #c2c2c2;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 2pt rgb(49, 132, 253, 0.5);
}

input[disabled],
textarea[disabled] {
	background-color: #f5f5f5;
	box-shadow: none;
	color: #7a7a7a;
	cursor: not-allowed;
}

/* input error */
input.error,
textarea.error,
select.error {
	border-color: #dc3545;
}

input.error:focus,
textarea.error:focus,
select.error:focus {
	box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

/* input success */
input.success,
textarea.success,
select.success {
	border-color: #198754;
}

input.success:focus,
textarea.success:focus {
	box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

/* button */
.field button {
	background: #0d6efd;
	color: #fff;
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 400;
	border: 1px solid #0d6efd;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	text-align: center;
	padding: 0.375rem 0.75rem;
}

.field button:hover {
	background: #0b5ed7;
	border-color: #0a58ca;
	cursor: pointer;
}

.field button:focus {
	outline: none;
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

/* radio  & checkbox*/
label.radio,
label.checkbox {
	width: auto;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border-radius: 5px;
}

.stack label.radio,
.stack label.checkbox {
	display: block;
	margin-left: auto;
}

.radio + .radio,
.checkbox + .checkbox {
	margin-left: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: baseline;
	width: auto;
}

/* vertical form */
.vertical label,
.vertical input,
.vertical textarea {
	display: block;
	width: 100%;
}

/* horizontal form */
.horizontal .field {
	display: grid;
	grid-template-columns: 20% 1fr;
	gap: 1rem 1rem;
	align-items: center;
	margin-bottom: 1rem;
}
.horizontal .field label {
	grid-column: 1 / 2;
	text-align: left;
}

.horizontal .field label.radio,
.horizontal .field label.checkbox {
	grid-column: 2 / 3;
	text-align: left;
}

.horizontal .field input,
.horizontal .field button,
.horizontal .field small {
	grid-column: 2 / 3;
}

* {
  font-family: "Helvatica";
}

p {
  font-size: large;
}

.navbar{
  padding: 0.5rem 1rem;
}

.nav-item h5{
  margin-bottom: 0rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 50rem !important;
    padding: 1rem !important;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.title{
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}

a {
color: #000;
text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.d-block{
  object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 50rem;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.text-black{
  color:black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px)
{.text-md-start {
  text-align: center!important;
}}

.text-center{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.showcase {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #fff;
padding: 0 20px;
}

.video-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
transform: translateY(84px);
}

.video-container video {
min-width: 100%;
min-height: 100%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
object-fit: cover;
}

#header{
margin: auto;
border-bottom:6px solid #c60021;
display: inline-block;
font-weight: bold;
padding-bottom: -10px;
color: black;
text-align: center;
}

.content {
z-index: 2;
}